# Игнорировать все папку tmp и все файлы в ней
/tmp/
# Игнорировать файлы содержащие в расширении _old
*.*_old
# Игнорировать файлы содержащие в расширении _backup
*.*_backup
# Игнорировать файлы Thumbs.db
Thumbs.db
# Игнорировать файлы с расширением .DS_Store
*.DS_Store